# Create or update a latest git tag when releasing a stable version of Meilisearch
name: Update latest git tag
on:
  push:
    branches: [ main2 ]


jobs:
  check-version:
    name: Check the version validity
    runs-on: ubuntu-latest
    env:
        ACTIONS_RUNNER_FORCE_ACTIONS_NODE_VERSION: node16
        ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
    container: centos:7
    steps:
      - name: Build
        uses: actions-rs/toolchain@v1
        with:
          command: build
          args: --release
